* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header styles */
.head{
  background: rgb(115, 197, 101);
  display: flex;
  justify-content: space-evenly;
}

/* game board styles */
.game-board{
  display: block;
  position: relative;
}
.row {
  font-size: 0px;
}

.cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 0.5px solid black;
  background-color: white;
}

.live {
  background-color: black;
}